{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "node": true
    },
    "parserOptions": 
        { 
            "ecmaVersion": 6, 
            "sourceType": "module", 
            "ecmaFeatures": { 
                "jsx": true }, 
                "plugins": [ 
                    "react" ], 
                    "extends": ["eslint:recommended", "plugin:react/recommended"] 
        }, 
    "rules": {
        "no-const-assign": "warn",
        "no-this-before-super": "warn",
        "no-undef": "off",
        "no-unreachable": "warn",
        "no-unused-vars": "off",
        "constructor-super": "warn",
        "valid-typeof": "warn",
        "strict": 0
    }, 
    "plugins": [
        "babel"
    ]
}